*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
*.log
.DS_Store
/build/
*.hprof
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
/core/model/build/
/core/crypto/build/
/core/network/build/
/core/storage/build/
/core/ui/build/
/feature/*/build/
/app/build/
/test-utils/build/
